@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

// 767px以下で、画面が広がりすぎないように調整
$max-width:530px;


////////////////////
// フォント設定
////////////////////

$font-sans-jp: 'Noto Sans JP', sans-serif;
$font-serif-jp: 'Noto Serif JP', serif;
$font-gotu: 'Gotu', sans-serif;
$font-lato: 'Lato', sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $font-sans-jp;
  color: #756659;
}

a {
	-webkit-transition: opacity 0.3s;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

a:hover {
	opacity: 0.5 ;
}


// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;





////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$white: #fff;
$brown:#996600;




:root {
	--header: 6rem;
	scroll-padding: calc(var(--header) + 1.25rem);
  }