@use "global" as *;

/*パンくずリストの作成*/
.breadcrumb {
    z-index: 1;
  }
 
  /*横並びにするためのものだが、変化しないので無くてもいいかも*/
  .breadcrumb:before,
  .breadcrumb:after {
    content: "";
    display: table;
  }
  
  .breadcrumb__items{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .breadcrumb__item{
    display: inline-block;/*タブを横並べにする*/
  }

  /*矢印を表示*/
  .breadcrumb__item::after {
    padding: 0 rem(1.6) 0 rem(3.2);/*矢印の幅*/
    content: ">";
    color: #996600;
  }
  
  .breadcrumb__item:last-child:after {
    content: "";/*最終位置の矢印を無くす*/
  }

  .breadcrumb__item--white::after {
    padding: 0 rem(1.6) 0 rem(3.2);/*矢印の幅*/
    content: ">";
    color: $white;
  }
  
  .breadcrumb__item--white:last-child:after {
    content: "";/*最終位置の矢印を無くす*/
  }

  .breadcrumb__link{
    font-size: rem(14);
    font-weight: $regular;
    text-transform: uppercase;
    color: $brown;
  }

.breadcrumb--padding{
  padding-top: rem(84.8);
  background-color: #FFF8EF;
  @include mq(md){
    padding-top: rem(96);
  }
}

