@use "global" as *;

.contact-error{
    background-color: #FFF8EF;
    color: $brown;
    text-align: center;
    padding: rem(40) 0;
}

.contact-error_title{
    font-family:$font-lato ;
    font-size: rem(80);
    font-weight: $regular;
    letter-spacing: 0.5em;
    text-indent:0.5em;
    @include mq(md){
        margin-top: rem(51);
        font-size: rem(160);
    }
}

.contact-error_text{
    font-family:$font-lato ;
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24/16);
    margin-top: rem(-17.6);
    @include mq(md){
        margin-top: 0;
    }
}

.contact-error__button{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(80);
    }
}