@use "global" as *;
/*------*/

.page-voice__container{
    max-width: $max-width;
    width: 100%;
    margin: rem(40) auto 0;
    @include mq("md") {
        max-width: 100%;
        padding: 0;
    }
}

.page-voice__wrapper {
    width: 100%;
}

.page-voice__list{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(30);
    }
}

.page-voice__pagination{
    margin-top: rem(84);
    @include mq(md){
        margin-top: rem(67);
    }
}