@use 'global' as *;

.voice-cards{
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.voice-cards__item{
    background-color: $white;
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
    padding: rem(16) rem(16) rem(22);
    @include mq(md){
        max-width: calc(50% - 2.5rem * 1 / 2 );
        width: 100%;
        padding: rem(14) rem(24) rem(22);
    }
}

.voice-cards__item + .voice-cards__item{
    margin-top: rem(40);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(40);
    }
}

/* 枚数が増えたときのための処理 */
.voice-cards__item:nth-child(2n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.voice-cards__item:nth-child(n + 3){
    @include mq(md){
        margin-top: 2.5rem;
    }
}
